main,header,footer{max-width:600px;margin:50px auto}*{color:#4d4d4d;font:16px Georgia}figure{margin:30px 0}figure legend{color:lightslategrey}h1{font:700 45px "Courier New";text-align:center}nav ul{padding:0;margin:10px 0;display:flex;align-items:center;justify-content:space-around}nav ul li{list-style-type:none;letter-spacing:2px;text-transform:uppercase;font:700 14px Arial}form{display:flex;align-items:flex-end}form div{margin:0 30px 0 0}form label{margin:0 10px 0 0}nav.footer{background-color:#789}nav.footer ul{margin-top:50px;padding:20px 0}nav.footer ul li{color:white}.copyright{display:flex;justify-content:space-between;margin:50px}
/*# sourceMappingURL=main.css.map */
