nav {
  ul {
    padding: 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      list-style-type: none;
      letter-spacing: 2px;
      text-transform: uppercase;
      font: 700 14px Arial;
    }
  }
}